<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>COMPANY | Eventory</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">-->
    <link href="../../plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/animate.min.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/style-responsive.min.css" rel="stylesheet" />
    <link href="../../css/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <link href="../../plugins/bootstrap-calendar/css/bootstrap_calendar.css" rel="stylesheet" />

    <script src="../../plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <a href="central.html" class="navbar-brand"><span class="navbar-logo"></span>Eventory</a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end mobile sidebar expand / collapse button -->

            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../../img/user.jpg" alt="" />
                        <span class="hidden-xs">Alice</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInLeft">
                        <li class="arrow"></li>
                        <li><a href="javascript:;">Edit Profile</a></li>
                        <li><a href="javascript:;">Setting</a></li>
                        <li class="divider"></li>
                        <li><a href="../index.html" onclick="DB.logoutUser()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end header navigation right -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">
            <!-- begin sidebar user -->
            <ul class="nav">
                <li class="nav-profile">
                    <div class="image">
                        <a href="javascript:;"><img src="../../img/user.jpg" alt="" /></a>
                    </div>
                    <div class="info">
                        Alice
                        <small>Central Warehouse</small>
                    </div>
                </li>
            </ul>
            <!-- end sidebar user -->
            <!-- begin sidebar nav -->
            <ul class="nav">

                <li class="active"><a href="central.html"><i class="fa fa-laptop"></i> <span>Dashboard</span></a></li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-tags"></i>
                        <span>Products</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="product-list.html">Product List</a></li>
                        <li><a href="product-form.html">New Product</a></li>
                        <li><a href="stockin.html">Stock In</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-home"></i>
                        <span>Stores</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="store-list.html">Store List</a></li>
                        <li><a href="store-form.html">New Store</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        <i class="fa fa-truck"></i>
                        <span>Restocking</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="restock.html">Restock products</a></li>
                        <li><a href="track.html">Track delivery</a></li>
                        <li><a href="restock-setting.html">Restock Setting</a></li>
                    </ul>
                </li>

                <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                <!-- end sidebar minify button -->
            </ul>
            <!-- end sidebar nav -->
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin page-header -->
        <h1 class="page-header">Inventory Overview</h1>
        <!-- end page-header -->
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Restocking Calendar</h4>
                    </div>
                    <div class="panel-body">
                        <div id="schedule-calendar" class="bootstrap-calendar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="panel-dead">
            <div class="col-md-8">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Returned Products</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <table class="table">
                                    <thead>
                                    <th>Retail Store</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    </thead>
                                    <tbody id="tbl-returned"></tbody>
                                </table>
                            </div>

                        </div>

                        <div class="row col-md-11">
                            <a class="btn btn-success pull-right" onclick="DB.handleDeadProduct()">Handled</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-md-8" id="panel-request">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Emergency Restock Request</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table" id="tbl-request">
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
    </div>
    <!-- end #content -->
    <div class="modal fade" tabindex="-1" role="dialog" id="feedbackModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Send feedback</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="feedback">Feedback</label>
                            <textarea name="msg" id="feedback" class="form-control"></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="rejectRequest()" >Send Feedback</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="../../plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="../../plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="../../plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../plugins/jquery-cookie/jquery.cookie.js"></script>

<script src="../../lib/alasql.js"></script>
<script src="../../lib/purl.js"></script>
<script src="../../js/db.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../../plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>

<script src="../../plugins/moment/moment.min.js"></script>
<script src="../../js/apps.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
        requestInit();
        pageInit();
        handleScheduleCalendar();
    });


    function pageInit (){
        DB.returnProduct(1);
        var deadProducts = DB.getDeadProduct();

        if(deadProducts.length===0){
            $('#panel-dead').toggleClass('hide');
        }else{
            for(var t =0;t<deadProducts.length; t++){
                var dead = deadProducts[t];
                var row = $('<tr></tr>');
                row.append('<td>'+dead.retail+'</td>');
                row.append('<td>'+dead.item+'</td>');
                row.append('<td>'+dead.qty+'</td>');
                $('#tbl-returned').append(row);
            }
        }
    }


    var requests = DB.getAllPending();
    if(requests.length===0){
        $('#panel-request').toggleClass('hide');
    }
    function requestInit (){
        var table = $('#tbl-request');
        for(var t = 0; t<requests.length; t++){
            var request = requests[t];
            var tbl_head = $('<thead id="requesth'+request.id+'"></thead>');
            tbl_head.append('<tr class="info store-name"><th colspan="2" class="store">'+request.retail+'</th></tr>');
            tbl_head.append('<tr><th>Product</th><th>Restocking Quantity</th></tr>');
            var tbl_body = $('<tbody id="requestb'+request.id+'"></tbody>');
            var items = request.item.split('|');
            var qty = request.qty.split('|');
            var stock = request.stock.split('|');
            for(var i = 0; i<stock.length; i++){
                var row = $('<tr id="'+stock[i]+'"></tr>');
                row.append('<td class="item">'+items[i]+'</td>');
                row.append('<td class="qty">'+qty[i]+'</td>');
                tbl_body.append(row);

            }
            row = $('<tr><td><strong>Message: </strong>'+request.msg+'</td>' +
                    '<td>' +
                    '<a class="btn btn-white btn-sm" data-content="'+request.id+'" onclick="approveRequest(this)">Approve</a>' +
                    '<a class="btn btn-danger btn-sm m-l-10" data-content="'+request.id+'" onclick="showModal(this)">Reject</a></td>' +
                    '</tr>');
            tbl_body.append(row);
            table.append(tbl_head);
            table.append(tbl_body);
        }

    }
    
    function approveRequest(ele){
        var r_id = $(ele).attr('data-content');
        var thead = $('#requesth'+r_id);
        var tbody = $('#requestb'+r_id);
        var retail = thead.find('.store').text();
        restocks = [];
        tbody.find('tr').each(function () {

            var row = $(this);
            var id = row.attr('id');
            if(id){
                var item = row.find('.item').text();
                var qty = row.find('.qty').text();
                restocks.push({id:id,item:item,amount:qty,retail:retail});
            }

        });
        DB.newRestock(restocks);
        alasql('UPDATE request SET status = "Approved" WHERE id = ?',[parseInt(r_id)]);
        location.reload();
    }


    function rejectRequest() {
        var msg = $('textarea[name="msg"]').val();
        var sql = 'UPDATE request SET status = "Rejected", msg = "'+msg+'" WHERE id = ' + request_id;
        console.log(sql);
        alasql(sql);
    }
    var request_id = 0;
    function showModal(ele){
        $('#feedbackModal').modal('show');
        request_id = $(ele).attr('data-content');
    }

    function handleScheduleCalendar(){
        var today=new Date,d = today.getDate(),m=today.getMonth()+1,y=today.getFullYear();
        var s = DB.getRestockDates(100);
        s.push([d+"/"+m+"/"+y,"Today","#","#b6c832",""]);
        var o=$("#schedule-calendar");
        $(o).calendar({events:s,tooltip_options:{placement:"top",html:true}});
        $(o).find("td.event").each(
                function(){var e=$(this).css("background-color");
                    $(this).removeAttr("style");
                    $(this).find("a").css("background-color",e)
                });
        $(o).find(".icon-arrow-left, .icon-arrow-right").parent().on("click",function(){$(o).find("td.event").each(function(){var e=$(this).css("background-color");$(this).removeAttr("style");$(this).find("a").css("background-color",e)})})
    }


</script>
</body>
</html>
