<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>COMPANY | Eventory</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">-->
    <link href="../../plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/animate.min.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/style-responsive.min.css" rel="stylesheet" />
    <link href="../../css/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE CSS STYLE ================== -->
    <link href="../../plugins/morris/morris.css" rel="stylesheet" />
    <!-- ================== END PAGE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="../../plugins/DataTables/css/data-table.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="../../plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <a href="central.html" class="navbar-brand"><span class="navbar-logo"></span>Eventory</a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end mobile sidebar expand / collapse button -->

            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../../img/user.jpg" alt="" />
                        <span class="hidden-xs">Alice</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInLeft">
                        <li class="arrow"></li>
                        <li><a href="javascript:;">Edit Profile</a></li>
                        <li><a href="javascript:;">Setting</a></li>
                        <li class="divider"></li>
                        <li><a href="../../index.html">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end header navigation right -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->

    <div class="container">
        <div class="row">
            <ol class="breadcrumb pull-right">
                <li><a href="product-list.html">Product List</a></li>
                <li class="active">Product Info</li>
            </ol>
        </div>

        <!-- end page-header -->

        <div class="row m-t-20">
            <div class="col-md-12">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title" id="product-name"></h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img id="image" style="width:150px;height:150px;margin: 0 0 10px 30px; border:1px solid #aaa"/>
                                <br>
                                <img style="width:80px;height:80px;margin: 0 0 10px 60px;" src="../../img/qr_code.jpg"/>
                            </div>
                            <div class="col-md-10">
                                <h4 style="display:inline-block" id="name"></h4><a onclick="editProduct()" class="text-primary m-l-20" data-toggle="tooltip" title="Edit product information" data-placement="right"><i class="fa fa-pencil"></i></a>
                                <table class="table m-t-30">
                                    <tbody id="product-info">
                                    <tr>
                                        <th style="width: 250px;">Product Code</th>
                                        <td id="code"></td>
                                    </tr>
                                    <tr>
                                        <th style="width: 250px;">Product Category</th>
                                        <td id="cat"></td>
                                    </tr>
                                    <tr>
                                        <th style="width: 250px;">Size</th>
                                        <td id="size"></td>
                                    </tr>
                                    <tr>
                                        <th style="width: 250px;">Price ($)</th>
                                        <td id="price"></td>
                                    </tr>
                                    <tr>
                                        <th style="width:250px;">Low Stock Threshold</th>
                                        <td id="threshold"></td>
                                    </tr>
                                    <tr>
                                        <th style="width:250px;">Returning Period</th>
                                        <td id="returning"></td>
                                    </tr>
                                    <tr>
                                        <th style="width: 250px;">Description</th>
                                        <td id="detail"></td>
                                    </tr>
                                    <tr>
                                        <th style="width: 250px;">
                                            <a data-toggle="collapse" href="#stock-detail-panel" aria-expanded="false" style="color:#707478;">Central Warehouse Stock
                                                <i class="fa fa-chevron-down"></i>
                                            </a>
                                        </th>
                                        <td id="central-stock"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row">

                                    <div class="collapse" id="stock-detail-panel">
                                        <div class="col-md-12">
                                            <table class="table">
                                                <thead><th>Quantity</th><th>Expiration Date</th></thead>
                                                <tbody id="stock-detail"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Inventory Level History</h4>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-center">Stock Level History</h4>
                        <div id="central-inventory-chart" class="height-sm"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Current Stock of Retail Stores</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="data-table" class="table table-bordered table-hover">
                                <thead>
                                <tr style="background-color: #ecf0f1"><th>Retail Store</th><th>Stock</th></tr>
                                </thead>
                                <tbody id="store-stock-records">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!--</div>-->
    <!-- end #content -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<div class="modal fade" tabindex="-1" role="dialog" id="eidtProductModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Product Information</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-name">Name</label>
                        <input name="name" id="new-name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="new-cat">Category</label>
                        <select name="cat" id="new-cat" class="form-control">
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="new-size">Size</label>
                                <input type="number" min="0" name="size" id="new-size" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="new-unit">Unit</label>
                                <select name="unit" id="new-unit" class="form-control">
                                    <option>Caplets</option>
                                    <option>Packs</option>
                                    <option>Lbs</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="new-price">Price</label>
                        <input type="number" min="0" name="price" id="new-price" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="new-threshold">Low stock threshold</label>
                        <input type="number" min="0" name="threshold" id="new-threshold" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="new-returning">Product Returning Days </label>
                        <input type="number" min="0" name="returning" id="new-returning" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="new-detail">Description</label>
                        <textarea name="detail" id="new-detail" class="form-control"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateProductInfo()" >Save Changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="../../plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="../../plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="../../plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="../../plugins/moment/moment.min.js"></script>

<script src="../../lib/alasql.js"></script>
<script src="../../lib/purl.js"></script>
<script src="../../js/db.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../../plugins/DataTables/js/jquery.dataTables.js"></script>


<script src="../../plugins/morris/raphael.min.js"></script>
<script src="../../plugins/morris/morris.js"></script>
<script src="../../js/apps.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
        $("#data-table").DataTable();
        DB.getProductHistory(id,1);
        chartInit();
    });

    function chartInit(){
        var history = DB.getProductHistory(id);
        Morris.Line(
                {element:"central-inventory-chart",
                    data:history,
                    xkey:"date",
                    ykeys:["stock"],
                    labels:["Stock Amount"],
                    resize:true,
                    lineColors:["#348fe2"]
                })
    }



    var id = parseInt($.url().param('id'));
    var details = DB.getProductExpiration(id);
    for(var i = 0; i<details.length; i++){
        var record = details[i];
        var row = $('<tr></tr>');
        row.append('<td>'+record.qty+'</td>');
        row.append('<td>'+record.expiration+'</td>');
        $('#stock-detail').append(row);
    }
    $('#image').attr('src', '../../img/' + id + '.jpg');
    var product = DB.getProductInfo(id);
    $('#name').text(product.name);
    $('#product-name').text(product.name);
    $('#code').text(product.code);
    $('#cat').text(product.cat);
    $('#detail').text(product.detail);
    $('#returning').text(product.returning+' days');
    $('#size').text(product.size+' ('+product.unit+')');
    $('#price').text(product.price);
    $('#central-stock').text(product.balance);
    $('#threshold').text(product.threshold);


    var nameInput = $('#new-name');
    nameInput.val(product.name);
    var catInput = $('#new-cat');
    catInput.val(product.cat);
    var priceInput = $('#new-price');
    priceInput.val(product.price);
    var sizeInput = $('#new-size');
    sizeInput.val(product.size);
    var unitInput = $('#new-unit');
    unitInput.val(product.unit);
    var returnInput = $('#new-returning');
    returnInput.val(product.returning);
    var thresholdInput = $('#new-threshold');
    thresholdInput.val(product.threshold);
    var detailInput = $('#new-detail');
    detailInput.val(product.detail);

    var stocks = DB.getStocksOfProduct(id);
    for(var i = 1; i<stocks.length; i++){
        var stock = stocks[i];
        var row = $('<tr><td>'+stock.retail+'</td><td>'+stock.balance+'</td></tr>');
        $('#store-stock-records').append(row);
    }


    var cats = DB.getAllKinds();
    for (var i = 0; i < cats.length; i++) {
        var cat = cats[i];
        var op = $('<option></option>');
        op.attr('value', cat.id);
        op.text(cat.name);
        $('select[name="cat"]').append(op);
    }
    function editProduct(){
        $('#eidtProductModal').modal('show');
    }

    function updateProductInfo(){
        var itemId = alasql('COLUMN OF SELECT item FROM stock WHERE id = ?',[id])[0];
        var res = alasql('UPDATE item SET kind = ? ,name = ? ,detail = ? ,price = ? ,size = ? ,unit = ? ,returning = ? , threshold = ? WHERE id = ?',
                [catInput.val(),nameInput.val(),detailInput.val(),priceInput.val(),sizeInput.val(),unitInput.val(),returnInput.val(),thresholdInput.val(),itemId]);
        if(res==1)location.reload();
    }

</script>
</body>
</html>
