<!DOCTYPE html>
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>COMPANY | Eventory</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="../../plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/animate.min.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/style-responsive.min.css" rel="stylesheet" />
    <link href="../../css/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="../../plugins/DataTables/css/data-table.css" rel="stylesheet" />
    <link href="../../plugins/multiple-select/multiple-select.css" rel="stylesheet" />
    <link href="../../plugins/powerange/powerange.min.css" rel="stylesheet" />

    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="../../plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-without-sidebar page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <a href="marketing.html" class="navbar-brand"><span class="navbar-logo"></span> Eventory </a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end mobile sidebar expand / collapse button -->

            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../../img/user.jpg" alt="" />
                        <span class="hidden-xs">Charlie</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="arrow"></li>
                        <li><a href="javascript:;">Edit Profile</a></li>
                        <li><a href="javascript:;">Setting</a></li>
                        <li class="divider"></li>
                        <li><a href="../index.html">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end header navigation right -->

        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->

    <!-- begin #content -->
    <div id="content" class="content">

        <!-- begin page-header -->
        <h1 class="page-header">Sales Report</h1>
        <!-- end page-header -->
        <!-- begin row -->
        <div class="row">
            <!-- begin col-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-stats bg-green">
                    <div class="stats-icon"><i class="fa fa-desktop"></i></div>
                    <div class="stats-info">
                        <h4>TOTAL VISITORS</h4>
                        <p>3,291,922</p>
                    </div>
                    <div class="stats-link">
                        <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-stats bg-yellow-darker">
                    <div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
                    <div class="stats-info">
                        <h4>BOUNCE RATE</h4>
                        <p>20.44%</p>
                    </div>
                    <div class="stats-link">
                        <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-stats bg-blue">
                    <div class="stats-icon"><i class="fa fa-users"></i></div>
                    <div class="stats-info">
                        <h4>UNIQUE VISITORS</h4>
                        <p>1,291,922</p>
                    </div>
                    <div class="stats-link">
                        <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-stats bg-purple">
                    <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
                    <div class="stats-info">
                        <h4>AVG TIME ON SITE</h4>
                        <p>00:12:23</p>
                    </div>
                    <div class="stats-link">
                        <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end col-3 -->
        </div>
        <!-- end row -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">Top Selling Products</h4>
            </div>
            <div class="panel-body" style="min-height:500px;">
                <div class="row">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-inverse overflow-hidden">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="ui_tabs_accordions.html#collapseOne">
                                        <i class="fa fa-plus-circle pull-right"></i>
                                        Collapsible Group Item #1
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div>
        </div>
    </div>
    <!-- end #content -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="../../plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="../../plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="../../plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../plugins/jquery-cookie/jquery.cookie.js"></script>

<script src="../../lib/alasql.js"></script>
<script src="../../lib/purl.js"></script>
<script src="../../js/db.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../../plugins/DataTables/js/jquery.dataTables.js"></script>
<script src="../../plugins/DataTables/js/dataTables.buttons.js"></script>
<script src="../../plugins/DataTables/js/buttons.print.js"></script>

<script src="../../plugins/multiple-select/multiple-select.js"></script>
<script src="../../plugins/powerange/powerange.min.js"></script>

<script src="../../js/apps.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function() {
        App.init();

        sliderInit();

        $('.select').multipleSelect({
            width:'100%',
            multipleWidth:120,
            multiple: true
        });
    });

    function sliderInit (){
        var elem = document.querySelector('#month-slider');
        var init = new Powerange(elem, {
            callback: function(){
                var days = elem.value;
                $('#slider-value').text(days);
            },
            start: 180,
            max:900,
            hideRange: true
        });
    }

    var cats = DB.getAllKinds();
    for(var i = 0; i< cats.length; i++){
        var op = $('<option>'+cats[i].name+'</option>');
        $('#cat').append(op);
    }

    var stores = alasql('COLUMN OF SELECT name FROM retail');
    for(var i = 0; i< stores.length; i++){
        var op = $('<option>'+stores[i]+'</option>');
        $('#store').append(op);
    }

    function applyRule(){
        var kinds = $('#cat').val();
        var retails = $('#store').val();
        var period = $('#month-slider').val();
        var data = DB.getSoldProducts(kinds,retails,period);
        for(var i =0; i<data.length; i++){
            var d = data[i];
            var row = $('<tr></tr>');
            row.append('<td>'+d.item+'</td>');
            row.append('<td>'+d.qty+'</td>');
            row.append('<td>NIL</td>');
            $('#tbl-top-selling').append(row);
        }
    }
    var collapse = true;
    function toggleArrow() {
        if(collapse){
            $('#icon-arrow').removeClass('fa-chevron-down').addClass('fa-chevron-up');
            collapse = false;
        }else{
            $('#icon-arrow').removeClass('fa-chevron-up').addClass('fa-chevron-down');
            collapse = true;
        }

    }



//    ============================================
    var COUNT = 1;
    for(var record in restocks){
        var restock = restocks[record];
        var accordion = $('<div class="panel panel-info overflow-hidden"></div>');
        var head = $('<div class="panel-heading"><h3 class="panel-title">' +
                '<a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="ui_tabs_accordions.html#restock'+ record +'">' +
                '<i class="fa fa-plus-circle pull-right"></i>' +
                'Restock #'+COUNT+
                '</a></h3></div>');
        accordion.append(head);
        var panel;
        if(COUNT === 1){
            panel = $('<div id="restock'+record+'" class="panel-collapse collapse in"></div>');
        }else{
            panel = $('<div id="restock'+record+'" class="panel-collapse collapse"></div>');
        }

        var body = $('<div class="panel-body"></div>');
        var table = $('<table class="table display" cellspacing="0" width="100%"><thead><tr><th>Code</th><th>Product</th><th>Quantity</th></tr></thead></table>');
        var tb = $('<tbody></tbody>');
        for(var i = 0; i<restock.length; i++){
            var d = restock[i];
            var row = $('<tr></tr>');
            row.append('<td>'+ d.code +'</td>');
            row.append('<td>'+ d.item +'</td>');
            row.append('<td>'+ d.qty +'</td>');
            tb.append(row);
        }
        table.append(tb);
        body.append(table);
        body.append('<div class="row" style="margin-top:20px;"> <div class="col-md-10 col-md-offset-1"> <a class="btn btn-info pull-right" style="margin-left:10px;" onclick="received()">Received</a> </div> </div>');
        panel.append(body);
        accordion.append(panel);
        $('#accordion').append(accordion);
        COUNT++;
    }

</script>
</body>
</html>
