<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>COMPANY | Eventory</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="../../plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/animate.min.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/style-responsive.min.css" rel="stylesheet" />
    <link href="../../css/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE CSS STYLE ================== -->
    <link href="../../plugins/datepicker/daterangepicker.css" rel="stylesheet"/>
    <link href="../../plugins/morris/morris.css" rel="stylesheet" />
    <!-- ================== END PAGE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="../../plugins/DataTables/css/data-table.css" rel="stylesheet" />
    <link href="../../plugins/multiple-select/multiple-select.css" rel="stylesheet" />
    <!--<link href="../../plugins/powerange/powerange.min.css" rel="stylesheet" />-->


    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="../../plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-without-sidebar page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <a href="marketing.html" class="navbar-brand"><span class="navbar-logo"></span> Eventory </a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end mobile sidebar expand / collapse button -->

            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../../img/user.jpg" alt="" />
                        <span class="hidden-xs">Charlie</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="arrow"></li>
                        <li><a href="javascript:;">Edit Profile</a></li>
                        <li><a href="javascript:;">Setting</a></li>
                        <li class="divider"></li>
                        <li><a href="../index.html">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end header navigation right -->

        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->

    <!-- begin #content -->
    <!-- begin #content -->
    <div id="content" class="content content-full-width">
        <div class="p-20">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-2 -->
                <div class="col-md-2">
                    <div class="hidden-sm hidden-xs">
                        <h5 class="m-t-20">Sales Reports</h5>
                        <ul class="nav nav-pills nav-stacked nav-inbox">
                            <li class="active"><a href="marketing.html#growth" data-toggle="tab"><i class="fa fa-arrow-circle-up fa-fw m-r-5"></i>Sales Summary</a></li>
                            <li><a href="marketing.html#topproduct" data-toggle="tab"><i class="fa fa-usd fa-fw m-r-5"></i> Top Selling Product</a></li>
                            <li><a href="marketing.html#topshop" data-toggle="tab"><i class="fa fa-home fa-fw m-r-5"></i> Top Selling Retail Store</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end col-2 -->
                <!-- begin col-10 -->
                <div class="col-md-10">
                    <div class="tab-content email-content">

                        <div class="tab-pane fade active in" id="growth">
                            <div class="row">
                                <div class="col-md-6" style="border-right: 1px solid #e2e7eb">
                                    <h4 style="text-align: center">Sales By Categories</h4>
                                    <div class="col-sm-7">
                                        <div id="donut-chart"></div>
                                    </div>
                                    <div class="col-sm-5 p-t-30">
                                        <table class="table" id="tbl-cat">

                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 style="text-align: center">Sales Total By Period</h4>
                                    <div class="col-sm-7">
                                        <div id="area-chart"></div>
                                    </div>

                                    <div class="col-sm-5 p-t-30">
                                        <table class="table">
                                            <tr><th style="border-bottom: 1px solid #ddd;">Total Sales:</th><td id="total-sale" style="border-bottom: 1px solid #ddd;"></td></tr>
                                            <tr><th style="border-bottom: 1px solid #ddd;">Average Month total:</th><td id="avg-total" style="border-bottom: 1px solid #ddd;"></td></tr>
                                        </table>
                                    </div>

                                </div>
                            </div>


                        </div>

                        <div class="tab-pane fade" id="topproduct">
                            <div class="row m-top-30">
                                <div class="collapse in" id="collapseExample">
                                    <div style="height:90px;">
                                        <form class="form-inline m-l-20">
                                            <!--<div class="form-group col-md-1"></div>-->
                                            <div class="form-group m-r-10 col-md-3">
                                                <label for="cat">Categories</label>
                                                <select class="select" id="cat" multiple="multiple">
                                                    <optgroup label="Vitamins & Supplements">
                                                        <option selected="selected">Multivitamins</option>
                                                        <option selected="selected">Vitamins A-Z</option>
                                                        <option selected="selected">Fish Oil & Omegas</option>
                                                        <option selected="selected">Minerals</option>
                                                        <option selected="selected">Joint Support</option>
                                                        <option selected="selected">Antioxidants</option>
                                                        <option selected="selected">Specialty Supplements</option>
                                                        <option selected="selected">Sexual Health</option>
                                                    </optgroup>
                                                    <optgroup label="Protein & Fitness">
                                                        <option selected="selected">Protein</option>
                                                        <option selected="selected">Energy & Endurance</option>
                                                        <option selected="selected">Muscle Builders</option>
                                                        <option selected="selected">Equipment & Accessories</option>
                                                        <option selected="selected">Performance Formulas</option>

                                                    </optgroup>
                                                    <optgroup label="Herb & Natural Remedies">

                                                        <option selected="selected">Herbs A-E</option>
                                                        <option selected="selected">Herbs T-Z</option>
                                                        <option selected="selected">Herbs F-N</option>
                                                        <option selected="selected">Antioxidants</option>
                                                        <option selected="selected">Herbs O-S</option>
                                                        <option selected="selected">Natural Remedies</option>

                                                    </optgroup>
                                                    <optgroup label="Digestion & Super Foods">

                                                        <option selected="selected">Digestive Support</option>
                                                        <option selected="selected">Cleansing & Detox</option>
                                                        <option selected="selected">Greens & Superfoods</option>
                                                        <option selected="selected">Superfruit & Botanicals</option>
                                                    </optgroup>
                                                    <optgroup label="Weight Management">
                                                        <option selected="selected">Fat & Calorie Burners</option>
                                                        <option selected="selected">Meal Replacements</option>
                                                        <option selected="selected">Appetite Control & Diet</option>

                                                    </optgroup>
                                                    <optgroup label="Persona Care">
                                                        <option selected="selected">Skin & Body Care</option>
                                                        <option selected="selected">Aromatherapy</option>
                                                        <option selected="selected">Hair Case, Styling & Treatment</option>
                                                        <option selected="selected">Natural Home</option>
                                                        <option selected="selected">Bath & Soaps</option>

                                                    </optgroup>
                                                    <optgroup label="Food & Drink">
                                                        <option selected="selected">Protein Bars</option>
                                                        <option selected="selected">Healthy Food & Snacks</option>
                                                        <option selected="selected">Drinks</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                            <!--<div class="form-group col-md-1"></div>-->
                                            <div class="form-group m-r-10 col-md-3">
                                                <label for="store">Stores</label>
                                                <select class="select" id="store" multiple="multiple">
                                                    <optgroup label="Los Angeles">
                                                        <option selected="selected">Heron Building</option>
                                                        <option selected="selected">Arco Plaza</option>
                                                        <option selected="selected">The Bloc</option>
                                                    </optgroup>
                                                    <optgroup label="San Francisco">
                                                        <option selected="selected">Safeway Center</option>
                                                        <option selected="selected">Westfield San Francisco Centre</option>
                                                    </optgroup>
                                                    <optgroup label="San Diego">
                                                        <option selected="selected">Horton Plaza</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                            <div class="form-group m-r-10 col-md-3">
                                                <label for="period2">Time Period</label>
                                                <input type="text" class="date-picker-input" id="period2" name="datefilter2" value="" />
                                            </div>
                                            <div class="col-md-1">
                                                <a class="btn btn-sm btn-success" style="margin-top:12px;" onclick="applyRule2()">Apply</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row"  style="border-bottom: solid 1px #ecf0f1">
                                <div class="col-md-1 pull-right">
                                    <h5 class="text-success">
                                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" onclick="toggleArrow(this)">Filter
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </h5>
                                </div>
                            </div>
                            <table class="table table-email">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Product</th>
                                    <th> Total Sold Quantity</th>
                                    <th> Total Revenue</th>
                                </tr>
                                </thead>
                                <tbody id="tbl-top-selling">

                                </tbody>
                            </table>

                            <div class="email-footer clearfix">
                                <div class="col-md-6 col-md-offset-3">
                                    <div id="chart-2-container">
                                        <h4 style="text-align: center;" id="top-product-name"></h4>
                                        <div id="top-product-chart" class="height-sm well"></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="topshop">

                            <div class="row m-top-30">
                                <div class="collapse in" id="filter-shop">
                                    <div style="height:90px;">
                                        <form class="form-inline m-l-20">
                                            <!--<div class="form-group col-md-1"></div>-->
                                            <div class="form-group m-r-10 col-md-3">
                                                <label for="city">Cities</label>
                                                <select class="select" id="city" multiple="multiple">
                                                    <option selected="selected"></option>
                                                </select>
                                            </div>
                                            <!--<div class="form-group col-md-1"></div>-->
                                            <div class="form-group m-r-10 col-md-3">
                                                <label for="item">Products</label>
                                                <select class="select" id="item" multiple="multiple">
                                                </select>
                                            </div>
                                            <div class="form-group m-r-10 col-md-3">
                                                <label for="period3">Time Period</label>
                                                <input type="text" class="date-picker-input" id="period3" name="datefilter3" value="" />
                                            </div>
                                            <div class="col-md-1">
                                                <a class="btn btn-sm btn-success" style="margin-top:12px;" onclick="applyRule3()">Apply</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row"  style="border-bottom: solid 1px #ecf0f1">
                                <div class="col-md-1 pull-right">
                                    <h5 class="text-success">
                                        <a data-toggle="collapse" href="#filter-shop" aria-expanded="false" aria-controls="collapseExample" onclick="toggleArrow(this)">Filter
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </h5>
                                </div>
                            </div>
                            <table class="table table-email">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Product</th>
                                    <th> Total Sold</th>
                                </tr>
                                </thead>
                                <tbody id="tbl-top-shop">

                                </tbody>
                            </table>




                            <div class="email-footer clearfix">
                                <div class="col-md-6 col-md-offset-3">
                                    <div id="chart-3-container">
                                        <h4 style="text-align: center;" id="top-shop-name"></h4>
                                        <div id="top-shop-chart" class="height-sm"></div>
                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <!-- end row -->
        </div>


    </div>
    <!-- end #content -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="../../plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="../../plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="../../plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="../../plugins/moment/moment.min.js"></script>

<script src="../../lib/alasql.js"></script>
<script src="../../lib/purl.js"></script>
<script src="../../js/db.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../../plugins/DataTables/js/jquery.dataTables.js"></script>
<script src="../../plugins/DataTables/js/dataTables.buttons.js"></script>
<script src="../../plugins/DataTables/js/buttons.print.js"></script>

<script src="../../plugins/multiple-select/multiple-select.js"></script>
<script src="../../plugins/datepicker/daterangepicker.js"></script>

<!--<script src="../../plugins/powerange/powerange.min.js"></script>-->

<script src="../../plugins/morris/raphael.min.js"></script>
<script src="../../plugins/morris/morris.js"></script>

<script src="../../js/apps.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
        selectInit();
        datePickerInit();
        $('.select').multipleSelect({
            width:'100%',
            multipleWidth:180,
            multiple: true,
            filter:true,
            minimumCountSelected:7
        });

        applyRule2();
        applyRule3();
        chartInit1();
    });

    var COLLAPSED = true;
    var FILTER = {
        kinds : [],
        stores : [],
        cities : [],
        items : [],
        first:'',
        last:''
    };
    var CHART3;
    var CHART2;


    function selectInit(){
        FILTER.kinds = alasql('COLUMN OF SELECT name FROM kind');
        FILTER.stores = alasql('COLUMN OF SELECT name FROM retail WHERE id<>1');

        var cities = alasql('COLUMN OF SELECT DISTINCT city FROM retail WHERE id<>1');
        FILTER.cities = cities;
        for(var i = 0; i< cities.length; i++){
            var op = $('<option selected="selected">'+cities[i]+'</option>');
            $('#city').append(op);
        }

        var items = alasql('COLUMN OF SELECT name FROM item');
        FILTER.items = items;
        for(var i = 0; i< items.length; i++){
            var op = $('<option selected="selected">'+items[i]+'</option>');
            $('#item').append(op);
        }
    }

    function chartInit1(){
        var temp = DB.getCatReport();

        for(var i = 0; i<temp.length; i++){
            var row = $('<tr><th style="border-bottom: 1px solid #ddd;">'+temp[i].name+'</th><td style="border-bottom: 1px solid #ddd;">'+Math.abs(temp[i].total)+'</td></tr>');
            $('#tbl-cat').append(row);
        }



        var data = [];
        var total = 0;
        for(var i = 0; i<temp.length; i++){
            var t = temp[i];
            total += t.total;
            data.push({label:t.name, value:t.total});
        }
        Morris.Donut({
            element:"donut-chart",
            data:data,
            formatter:function(e){
                var percent = Math.round(e/total*10000)/100;
                return percent+"%"
            },
            resize:true,
            colors:['#b6c832','#008a8a','#348fe2','#c47d15']
        });
        var temp_t = DB.getTotalReport();
        var data_t = [];
        var total_t = 0;
        var month_count = 0;
        for(t in temp_t){
            total_t += Math.abs(temp_t[t]);
            month_count ++;
            data_t.push({month:t, total:Math.abs(temp_t[t]),avg:Math.round(total_t/month_count)});
        }
        Morris.Line({
            element:'area-chart',
            data: data_t,
            xkey:'month',
            ykeys:['total','avg'],
            labels:['Total','Average'],
            resize:true,
            lineColors:['#008a8a','#b6c832']
        });

        $('#total-sale').text(total_t);
        $('#avg-total').text(total_t/month_count);


    }

    function chartInit2(item){
        $('#top-product-name').text(item);
        var data = DB.getSoldDetail(item,FILTER.stores,FILTER.first,FILTER.last);
        var ykeys = alasql('COLUMN OF SELECT id FROM retail WHERE id<>1');
        var labels = alasql('COLUMN OF SELECT name FROM retail WHERE id<>1');
        $('#top-product-chart').empty();
        CHART2 = Morris.Bar({
            element:"top-product-chart",
            data:data,
            xkey:"month",
            ykeys:ykeys,
            labels:labels,
            behaveLikeLine:true,
            hideHover:"auto",
            barGrap:4,
            barSizeRatio:0.3,
            resize:true,
            stacked:true,
            barColors:['#b6c832','#6dc5de','#348fe2','#f7b048','#00acac','#f7b048']})
    }

    function chartInit3(retail){
        $('#top-shop-name').text(retail);
        var data = DB.getRetailSoldDetail(retail,FILTER.items,FILTER.first,FILTER.last);
        var ykeys = alasql('COLUMN OF SELECT id FROM item');
        var labels = alasql('COLUMN OF SELECT name FROM item');
        $('#top-shop-chart').empty();
        CHART3 = Morris.Bar({
            element:"top-shop-chart",
            data:data,
            xkey:"month",
            ykeys:ykeys,
            labels:labels,
            behaveLikeLine:true,
            hideHover:"auto",
            barGrap:4,
            barSizeRatio:0.3,
            resize:true,
            stacked:true,
            barColors:['#b6c832','#6dc5de','#348fe2','#f7b048','#00acac','#f7b048']})
    }

    function applyRule2(){
        FILTER.kinds = $('#cat').val();
        FILTER.stores = $('#store').val();
        var table = $('#tbl-top-selling');
        var data = DB.getProductReport(FILTER.kinds,FILTER.stores,FILTER.first,FILTER.last);
        table.empty();
        for(var i =0; i<data.length; i++){
            var d = data[i];
            if(!d){
                $('<tr><td colspan="3">No sales data available</td></tr>').appendTo(table);
                $('#chart-2-container h4').text('');
                $('#chart-2-container div').html('');
                return;
            }
            var row = $('<tr onclick="showDetails2(this)"></tr>');
            var qty = Math.abs(d.total);
            var revenue = Math.round(qty*d.price*100)/100;
            row.append('<td>' + (i+1) + '</td>');
            row.append('<td>' + d.name + '</td>');
            row.append('<td>' + qty + '</td>');
            row.append('<td> $' + revenue + '</td>');
            table.append(row);
        }
        chartInit2(data[0].name);
    }

    function applyRule3(){
        FILTER.cities = $('#city').val();
        FILTER.items = $('#item').val();

        var table = $('#tbl-top-shop');
        var data = DB.getRetailReport(FILTER.items,FILTER.cities,FILTER.first,FILTER.last);
        table.empty();

        for(var i =0; i<data.length; i++){
            var d = data[i];
            if(!d.retail){
                $('<tr><td colspan="3">No sales data available</td></tr>').appendTo(table);
                $('#chart-3-container h4').text('');
                $('#chart-3-container div').html('');
                return;
            }
            var row = $('<tr onclick="showDetails3(this)"></tr>');
            row.append('<td>' + (i+1) + '</td>');
            row.append('<td>' + d.retail + '</td>');
            row.append('<td>' + d.qty + '</td>');
            table.append(row);
        }
        chartInit3(data[0].retail);
    }

    function toggleArrow(ele) {
        if(COLLAPSED){
            $(ele).find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
            COLLAPSED = false;
        }else{
            $(ele).find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
            COLLAPSED = true;
        }
    }

    function showDetails2(ele){
        var item = $(ele).find('td:eq(1)').text();
        $('#top-product-name').text(item);
        chartInit2(item);
    }

    function showDetails3(ele){
        var retail = $(ele).find('td:eq(1)').text();
        $('#top-shop-name').text(retail);
        chartInit3(retail);
    }

    var date_picker_2 = $('input[name="datefilter2"]');
    var date_picker_3 = $('input[name="datefilter3"]');
    function datePickerInit(){
        var dateRage = DB.getDateRange();
        FILTER.first = moment(dateRage.first,'MM/DD/YYYY').format('YYYY-MM-DD');
        FILTER.last = moment(dateRage.today,'MM/DD/YYYY').format('YYYY-MM-DD');
        $('#period2').val(FILTER.first + ' - ' + FILTER.last);
        $('#period3').val(FILTER.first + ' - ' + FILTER.last);

        date_picker_2.daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            },
            autoApply:true,
            startDate:dateRage.first,
            endDate:dateRage.today,
            minDate: dateRage.first,
            maxDate: dateRage.today
        });

        date_picker_3.daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            },
            autoApply:true,
            startDate:dateRage.first,
            endDate:dateRage.today,
            minDate: dateRage.first,
            maxDate: dateRage.today
        });
    }


    date_picker_2.on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
        FILTER.first = picker.startDate.format('YYYY-MM-DD');
        FILTER.last = picker.endDate.format('YYYY-MM-DD');
    });

    date_picker_2.on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

    date_picker_3.on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
        FILTER.first = picker.startDate.format('YYYY-MM-DD');
        FILTER.last = picker.endDate.format('YYYY-MM-DD');
    });

    date_picker_3.on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

    $('ul.nav a').on('shown.bs.tab',function(e){
        CHART2.redraw();
        CHART2.width = 658;
        CHART3.redraw();
        CHART3.width = 658;
    })

</script>
</body>
</html>
