<!DOCTYPE html>
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>COMPANY | Eventory</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="../../plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/animate.min.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/style-responsive.min.css" rel="stylesheet" />
    <link href="../../css/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="../../plugins/DataTables/css/data-table.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="../../plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-without-sidebar page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <a href="retail.html" class="navbar-brand"><span class="navbar-logo"></span> Eventory </a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end mobile sidebar expand / collapse button -->

            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                        <i class="fa fa-bell-o"></i>
                        <span class="label">5</span>
                    </a>
                    <ul class="dropdown-menu media-list pull-right">
                        <li class="dropdown-header">Notifications (5)</li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="pull-left media-object bg-red"><i class="fa fa-bug"></i></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Server Error Reports</h6>
                                    <div class="text-muted">3 minutes ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="pull-left"><img src="../../img/user.jpg" class="media-object" alt="" /></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Bob</h6>
                                    <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                    <div class="text-muted">25 minutes ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="pull-left"><img src="../../img/user.jpg" class="media-object" alt="" /></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Olivia</h6>
                                    <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                    <div class="text-muted">35 minutes ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="pull-left media-object bg-green"><i class="fa fa-plus"></i></div>
                                <div class="media-body">
                                    <h6 class="media-heading"> New User Registered</h6>
                                    <div class="text-muted">1 hour ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="pull-left media-object bg-blue"><i class="fa fa-envelope"></i></div>
                                <div class="media-body">
                                    <h6 class="media-heading"> New Email From John</h6>
                                    <div class="text-muted">2 hour ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer text-center">
                            <a href="javascript:;">View more</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../../img/user.jpg" alt="" />
                        <span class="hidden-xs">Bob</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="arrow"></li>
                        <li><a href="javascript:;">Edit Profile</a></li>
                        <li><a href="javascript:;">Setting</a></li>
                        <li class="divider"></li>
                        <li><a href="../login.html">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end header navigation right -->

        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->

    <!-- begin #content -->
    <div id="content" class="content">

        <!-- begin page-header -->
        <h1 class="page-header">Store Name</h1>
        <!-- end page-header -->
        <!-- begin row -->
        <!--<div class="row">-->
            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="widget widget-stats bg-green">-->
                    <!--<div class="stats-icon stats-icon-lg"><i class="fa fa-reply fa-fw"></i></div>-->
                    <!--<div class="stats-title">RETURNING PRODUCTS</div>-->
                    <!--<div class="stats-number"><span id="returnCnt"></span> PIECES</div>-->
                    <!--<div class="stats-progress progress">-->
                        <!--<div class="progress-bar" style="width: 70.1%;"></div>-->
                    <!--</div>-->
                    <!--<div class="stats-desc"> <span id="returnPct"></span> of total stock.</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; end col-3 &ndash;&gt;-->
            <!--&lt;!&ndash; begin col-3 &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="widget widget-stats bg-blue">-->
                    <!--<div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>-->
                    <!--<div class="stats-title">TODAY'S PROFIT</div>-->
                    <!--<div class="stats-number">180,200</div>-->
                    <!--<div class="stats-progress progress">-->
                        <!--<div class="progress-bar" style="width: 40.5%;"></div>-->
                    <!--</div>-->
                    <!--<div class="stats-desc">Better than last week (40.5%)</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; end col-3 &ndash;&gt;-->
            <!--&lt;!&ndash; begin col-3 &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="widget widget-stats bg-purple">-->
                    <!--<div class="stats-icon stats-icon fa-stack"><i class="fa fa-shopping-cart fa-fw"></i></div>-->
                    <!--<div class="stats-title">NEW ORDERS</div>-->
                    <!--<div class="stats-number">38,900</div>-->
                    <!--<div class="stats-progress progress">-->
                        <!--<div class="progress-bar" style="width: 76.3%;"></div>-->
                    <!--</div>-->
                    <!--<div class="stats-desc">Better than last week (76.3%)</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; end col-3 &ndash;&gt;-->
            <!--&lt;!&ndash; begin col-3 &ndash;&gt;-->
            <!--<div class="col-md-3 col-sm-6">-->
                <!--<div class="widget widget-stats bg-black">-->
                    <!--<div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>-->
                    <!--<div class="stats-title">NEW COMMENTS</div>-->
                    <!--<div class="stats-number">3,988</div>-->
                    <!--<div class="stats-progress progress">-->
                        <!--<div class="progress-bar" style="width: 54.9%;"></div>-->
                    <!--</div>-->
                    <!--<div class="stats-desc">Better than last week (54.9%)</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; end col-3 &ndash;&gt;-->
        <!--</div>-->
        <!-- end row -->
        <div class="row">
            <a href="javascript:;" class="btn btn-lg btn-inverse">
                <i class="fa fa-twitter fa-2x pull-left"></i>
                Restock Product<br />
                <small><a></a></small>
            </a>
        </div>
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">Product List</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <!--<div class="tbl-print"><a class="btn btn-default" onclick="window.print()">Print</a> </div>-->
                    <table class="table table-hover display data-table" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Suggested Price ($)</th>
                            <th>Stock</th>
                            <th>Closet Expire Date</th>
                        </tr>
                        </thead>
                        <tbody id="tbl-products">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--end of panel-->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">Sales Report</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <!--<div class="tbl-print"><a class="btn btn-default" onclick="window.print()">Print</a> </div>-->
                    <table class="table table-hover display data-table" cellspacing="0" width="100%">
                        <tr class="success"><td>Receipt No. <span>12314342</span></td></tr>
                        <tr><th>Product</th><th>Quantity</th><th>Price</th><th>Subtotal</th></tr>
                        <tr><td>qweqwe</td><td>2</td><td>12</td><td>24</td></tr>
                        <tr><td>qweqwe</td><td>1</td><td>20</td><td>20</td></tr>
                        <tr><td>qweqwe</td><td>3</td><td>2</td><td>6</td></tr>

                    </table>
                </div>
            </div>
        </div>
        <!--end of panel-->
    </div>
    <!-- end #content -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="../../plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="../../plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="../../plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="../../plugins/moment/moment.min.js"></script>
<script src="../../lib/alasql.js"></script>
<script src="../../lib/purl.js"></script>
<script src="../../js/db.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../../plugins/DataTables/js/jquery.dataTables.js"></script>
<script src="../../plugins/DataTables/js/dataTables.buttons.js"></script>
<script src="../../plugins/DataTables/js/buttons.print.js"></script>

<script src="../../js/apps.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
        $('#data-table').DataTable();
    });
    var products = DB.getStocksOfRetail(2);
    var returnProducts = DB.getReturnProducts(2);
    var returnList = [];
    var returnCnt = 0;
    for(var i = 0; i<returnProducts.length; i++){
        var r = returnProducts[i];
        returnCnt += r.qty;
        returnList.push(r.id);
    }

    $('#returnCnt').text(returnCnt);
    var tbody = $('#tbl-products');

    for (var i = 0; i < products.length; i++) {
        var product = products[i];
        var tr = $('<tr id='+product.id+'></tr>');


        tr.append('<td><a data-href="product.html?id=' + product.id + '">' + product.code + '</a></td>');
        tr.append('<td>' + product.name + ' ('+product.size+' '+product.unit+')</td>');
        tr.append('<td>' + product.kind + '</td>');
        tr.append('<td>' + product.price + '</td>');

        if(product.balance===0){
            tr.append('<td>' + product.balance +' <label class="label label-warning">Restock</label> </td>');
        }else{
            tr.append('<td>' + product.balance +'</td>');
        }

        if(returnList.indexOf(product.id)===-1){
            tr.append('<td>' + product.expire + '</td>');
        }else{
            tr.append('<td>' + product.expire + ' <label class="label label-danger">Return</label></td>');
        }

        tr.appendTo(tbody);
    }

    $('tbody > a').on('click', function() {
        window.open($(this).attr('data-href'));
    });

//    var receipts = DB.getReceiptList(2);
//    for (var i = 0; i < products.length; i++) {
//        var product = products[i];
//        var tr = $('<tr data-href="product.html?id=' + product.id + '" id='+product.id+'></tr>');
////		tr.append('<td><img src="../../img/'+product.id+'.jpg" style="width: 15%;" "/></td>');
//        tr.append('<td>' + product.code + '</td>');
//        tr.append('<td>' + product.name + ' ('+product.size+' '+product.unit+')</td>');
//        tr.append('<td>' + product.kind + '</td>');
//        tr.append('<td>' + product.price + '</td>');
//        tr.append('<td>' + product.balance +'</td>');
//        tr.append('<td>' + product.expire + '</td>');
//        tr.appendTo(tbody);
//    }



</script>
</body>
</html>
