<!DOCTYPE html>
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>COMPANY | Eventory</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="../../plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/animate.min.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/style-responsive.min.css" rel="stylesheet" />
    <link href="../../css/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="../../plugins/DataTables/css/data-table.css" rel="stylesheet" />
    <link href="../../plugins/powerange/powerange.min.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="../../css/progress.css" rel="stylesheet" />

    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="../../plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-without-sidebar page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <a href="retail.html" class="navbar-brand"><span class="navbar-logo"></span> Eventory </a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end mobile sidebar expand / collapse button -->

            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                        <i class="fa fa-bell-o"></i>
                        <span class="label">5</span>
                    </a>
                    <ul class="dropdown-menu media-list pull-right">
                        <li class="dropdown-header">Notifications (5)</li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="pull-left media-object bg-red"><i class="fa fa-bug"></i></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Server Error Reports</h6>
                                    <div class="text-muted">3 minutes ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="pull-left"><img src="../../img/user.jpg" class="media-object" alt="" /></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Bob</h6>
                                    <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                    <div class="text-muted">25 minutes ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="pull-left"><img src="../../img/user.jpg" class="media-object" alt="" /></div>
                                <div class="media-body">
                                    <h6 class="media-heading">Olivia</h6>
                                    <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                    <div class="text-muted">35 minutes ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="pull-left media-object bg-green"><i class="fa fa-plus"></i></div>
                                <div class="media-body">
                                    <h6 class="media-heading"> New User Registered</h6>
                                    <div class="text-muted">1 hour ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="media">
                            <a href="javascript:;">
                                <div class="pull-left media-object bg-blue"><i class="fa fa-envelope"></i></div>
                                <div class="media-body">
                                    <h6 class="media-heading"> New Email From John</h6>
                                    <div class="text-muted">2 hour ago</div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer text-center">
                            <a href="javascript:;">View more</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../../img/user.jpg" alt="" />
                        <span class="hidden-xs">Bob</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="arrow"></li>
                        <li><a href="javascript:;">Edit Profile</a></li>
                        <li><a href="javascript:;">Setting</a></li>
                        <li class="divider"></li>
                        <li><a href="../index.html">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end header navigation right -->

        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->

    <!-- begin #content -->
    <div id="content" class="container">

        <!-- begin page-header -->
        <h1 class="page-header" id="store-name" style="margin-top:20px;">Store Name</h1>
        <!-- end page-header -->
        <!-- begin row -->

        <div class="row m-t-20">
            <div class="col-md-12">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Product List</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive col-md-10 col-md-offset-1">
                            <table class="table table-hover display data-table" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Product</th>
                                    <th>Category</th>
                                    <th>Suggested Price ($)</th>
                                    <th>Stock</th>
                                    <th>Closet Expire Date</th>
                                </tr>
                                </thead>
                                <tbody id="tbl-products">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--end of panel-->
            </div>
        </div>


        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Restocking Products Tracking</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <ol class="progtrckr" data-progtrckr-steps="3">
                                    <li class="progtrckr-todo">Restocking Order Placed</li>
                                    <li class="progtrckr-todo">Dispatched</li>
                                    <li class="progtrckr-todo">Delivered</li>
                                </ol>
                            </div>
                        </div>
                        <div class="row" style="margin-top:50px;">
                            <div class="col-md-4 col-md-offset-1">
                                <p><strong>Reference No : </strong><span id="restock-ref"></span></p>
                                <p><strong>Expected Date : </strong><span id="restock-date"></span></p>
                                <p><strong>Restocking Product Details: </strong></p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="table-responsive">

                                    <table class="table table-hover display" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbl-restocking">

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-10 col-md-offset-1">
                                <a class="btn btn-success pull-right" style="margin-left:10px;" onclick="received()">Received</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Find Expiring Product</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1">
                                <div class="slider-wrapper">
                                    <div style="margin-bottom: 10px;">
                                        Expired within : <span id="slider-value"></span> days
                                    </div>
                                    <input type="text" data-render="powerange-slider" id="month-slider" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <table class="table table-hover">
                                    <thead>
                                        <th></th>
                                        <th>Product</th>
                                        <th>Expiring Quantity</th>
                                        <th>Expired Date</th>
                                    </thead>
                                    <tbody id="tbl-expiring">
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->




    </div>
    <a class="btn btn-default btn-icon btn-circle btn-ex-lg btn-fixed" id="btn-cashier">
        <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-qrcode fa-stack-1x"></i>
        </span>
    </a>


    <!-- end #content -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="../../plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="../../plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="../../plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="../../plugins/moment/moment.min.js"></script>
<script src="../../lib/alasql.js"></script>
<script src="../../lib/purl.js"></script>
<script src="../../js/db.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../../plugins/DataTables/js/jquery.dataTables.js"></script>
<script src="../../plugins/powerange/powerange.min.js"></script>

<script src="../../js/apps.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    var id = parseInt($.url().param('id'));

    $(document).ready(function() {
        App.init();
        sliderInit();
        $('.data-table').dataTable();

    });


    var storeName = alasql('COLUMN OF SELECT name FROM retail WHERE id = ?',[id])[0];
    $('#store-name').text(storeName);

    function sliderInit (){
        var elem = document.querySelector('#month-slider');
        var init = new Powerange(elem, {
            callback: function(){
                    var days = elem.value;
                    $('#slider-value').text(days);
                    highlightExpiring(days);
            },
            start: 90,
            max:300,
            hideRange: true
        });
    }

    var Timer;
    var DAY;
    function highlightExpiring (days){
        clearTimeout(Timer);
        Timer = setTimeout(function(){
            if(days!==DAY){
                DAY=days;
                var exProducts = DB.getExpiringProducts(days,id);
                var table = $('#tbl-expiring');
                var length = exProducts.length;
                table.empty();
                for(var i = 0; i<length; i++){
                    var product = exProducts[i];
                    var row = $('<tr></tr>');
                    row.append('<td>'+(i+1)+'</td>');
                    row.append('<td>'+ product.item +'</td>');
                    row.append('<td>'+ product.qty +'</td>');
                    row.append('<td>'+ product.expiration +'</td>');
                    table.append(row);
                }

            }
        },1000);
    }

    var restocks = DB.getAllRestock(id);
    for(var i = 0; i < restocks.length; i++){
        var restock = restocks[i];
        if(i === 0){
            $('#restock-ref').text(restock.ref);
            $('#restock-date').text(restock.expect);
            $('.progtrckr-todo').each(function(index){
                if(index<=restock.status){
                    $(this).addClass('progtrckr-done').removeClass('progtrckr-todo');
                }
            });
        }
        var row = $('<tr></tr>');
        row.append('<td>'+ restock.code +'</td>');
        row.append('<td>'+ restock.item +'</td>');
        row.append('<td>'+ restock.qty +'</td>');
        $('#tbl-restocking').append(row);
    }

    var products = DB.getStocksOfRetail(id);
    var returnProducts = DB.getReturnProducts(id);
    var returnList = [];
    for(var i = 0; i<returnProducts.length; i++){
        var r = returnProducts[i];
        returnList.push(r.id);
    }

    var tbody = $('#tbl-products');

    for (var i = 0; i < products.length; i++) {
        var product = products[i];
        var tr = $('<tr id='+product.id+'></tr>');

        tr.append('<td><a data-href="product.html?id=' + product.id + '&retail='+id+'">' + product.code + '</a></td>');
        tr.append('<td>' + product.name + ' ('+product.size+' '+product.unit+')</td>');
        tr.append('<td>' + product.kind + '</td>');
        tr.append('<td>' + product.price + '</td>');

        if(product.balance===0){
            tr.append('<td>' + product.balance +' <label class="label label-warning">Restock</label> </td>');
        }else{
            tr.append('<td>' + product.balance +'</td>');
        }

        if(returnList.indexOf(product.id)===-1){
            tr.append('<td>' + product.expire + '</td>');
        }else{
            tr.append('<td>' + product.expire + ' <label class="label label-danger">Return</label></td>');
        }

        tr.appendTo(tbody);
    }

    tbody.find('a').on('click', function() {
        window.open($(this).attr('data-href'));
    });
    $('#btn-cashier').on('click',function(){
        window.open('cash-register.html?id='+id);
    });

    function received (){
        DB.receiveRestock(id);
        location().reload();
    }

</script>
</body>
</html>
