<!DOCTYPE html>
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>COMPANY | Eventory</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="../../plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/animate.min.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/style-responsive.min.css" rel="stylesheet" />
    <link href="../../css/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="../../plugins/DataTables/css/data-table.css" rel="stylesheet" />
    <link href="../../plugins/powerange/powerange.min.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="../../plugins/bootstrap-calendar/css/bootstrap_calendar.css" rel="stylesheet" />
    <link href="../../plugins/gritter/css/jquery.gritter.css" rel="stylesheet">
    <link href="../../css/progress.css" rel="stylesheet" />

    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="../../plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-without-sidebar page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <a href="retail.html" class="navbar-brand"><span class="navbar-logo"></span> Eventory </a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end mobile sidebar expand / collapse button -->

            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../../img/user.jpg" alt="" />
                        <span class="hidden-xs">Bob</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="arrow"></li>
                        <li><a href="javascript:;">Edit Profile</a></li>
                        <li><a href="javascript:;">Setting</a></li>
                        <li class="divider"></li>
                        <li><a href="../index.html">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end header navigation right -->

        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->

    <!-- begin #content -->
    <div id="content" class="container">

        <!-- begin page-header -->
        <h1 class="page-header" id="store-name" style="margin-top:20px;">Store Name</h1>
        <!-- end page-header -->
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Product List</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive col-md-10 col-md-offset-1">
                            <table class="table table-hover display data-table" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Product</th>
                                    <th>Category</th>
                                    <th>Suggested Price ($)</th>
                                    <th>Available Stock</th>
                                </tr>
                                </thead>
                                <tbody id="tbl-products">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--end of panel-->
            </div>
        </div>
        <div class="row m-t-20">
            <!--<div class="col-md-7">-->
                <!--<div class="panel panel-inverse">-->
                    <!--<div class="panel-heading">-->
                        <!--<div class="panel-heading-btn">-->
                            <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>-->
                            <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>-->
                        <!--</div>-->
                        <!--<h4 class="panel-title">Restocking Products Tracking</h4>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-10 col-md-offset-1">-->
                                <!--<ol class="progtrckr" data-progtrckr-steps="3">-->
                                    <!--<li class="progtrckr-todo">Restocking Order Placed</li>-->
                                    <!--<li class="progtrckr-todo">Dispatched</li>-->
                                    <!--<li class="progtrckr-todo">Delivered</li>-->
                                <!--</ol>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row" style="margin-top:50px;">-->
                            <!--<div class="col-md-4 col-md-offset-1">-->
                                <!--<p><strong>Reference No : </strong><span id="restock-ref"></span></p>-->
                                <!--<p><strong>Expected Date : </strong><span id="restock-date"></span></p>-->
                                <!--<p><strong>Restocking Product Details: </strong></p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row" style="margin-top:10px;">-->
                            <!--<div class="col-md-10 col-md-offset-1">-->
                                <!--<div class="table-responsive">-->

                                    <!--<table class="table table-hover display" cellspacing="0" width="100%">-->
                                        <!--<thead>-->
                                        <!--<tr>-->
                                            <!--<th>Code</th>-->
                                            <!--<th>Product</th>-->
                                            <!--<th>Quantity</th>-->
                                        <!--</tr>-->
                                        <!--</thead>-->
                                        <!--<tbody id="tbl-restocking">-->

                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                        <!--<div class="row" style="margin-top:20px;">-->
                            <!--<div class="col-md-10 col-md-offset-1">-->
                                <!--<a class="btn btn-success pull-right" style="margin-left:10px;" onclick="received()">Received</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-md-5">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Send Restocking Request</h4>
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-success pull-right" style="margin-top:20px;" onclick="showRequestModal()">Request Restocking</a>
                        <div id="schedule-calendar" class="bootstrap-calendar"></div>
                        <div class="pull-right">
                            <h5>
                                <a class="text-success" data-toggle="collapse" href="#track" aria-expanded="false" aria-controls="collapseExample" onclick="toggleArrow(this)">Track Restocking
                                    <i class="fa fa-chevron-down"></i>
                                </a>
                            </h5>
                        </div>

                        <div class="collapse" id="track">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <ol class="progtrckr" data-progtrckr-steps="3">
                                        <li class="progtrckr-todo">Restocking Order Placed</li>
                                        <li class="progtrckr-todo">Dispatched</li>
                                        <li class="progtrckr-todo">Delivered</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row" style="margin-top:50px;">
                                <div class="col-md-4 col-md-offset-1">
                                    <p><strong>Reference No : </strong><span id="restock-ref"></span></p>
                                    <p><strong>Expected Date : </strong><span id="restock-date"></span></p>
                                    <p><strong>Restocking Product Details: </strong></p>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="table-responsive">

                                        <table class="table table-hover display" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Product</th>
                                                <th>Quantity</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbl-restocking">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-10 col-md-offset-1">
                                    <a class="btn btn-success pull-right" style="margin-left:10px;" onclick="received()">Received</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Returnable Products</h4>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <table class="table table-hover">
                                    <thead>
                                    <th>Product</th>
                                    <th>Returnable Quantity</th>
                                    <th>Expired Date</th>
                                    </thead>
                                    <tbody id="tbl-returnable">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-10 col-md-offset-1">
                                <a class="btn btn-success pull-right" style="margin-left:10px;" onclick="returnProduct()">Return</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Find Expiring Product</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1">
                                <div class="slider-wrapper">
                                    <div style="margin-bottom: 10px;">
                                        Expired within : <span id="slider-value"></span> days
                                    </div>
                                    <input type="text" data-render="powerange-slider" id="month-slider" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <table class="table table-hover">
                                    <thead>
                                    <th></th>
                                    <th>Product</th>
                                    <th>Expiring Quantity</th>
                                    <th>Expired Before Date</th>
                                    </thead>
                                    <tbody id="tbl-expiring">
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--end container-->
    <div class="modal fade" tabindex="-1" role="dialog" id="requestModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Restocking Request</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead><th>Product</th><th>Request Quantity</th></thead>
                        <tbody id="tbl-request"></tbody>
                    </table>
                    <div>
                        <label>Message</label>
                        <textarea class="form-control" id="message" placeholder="Leave your message here"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="sendRequest()" >Send Request</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <a class="btn btn-default btn-icon btn-circle btn-ex-lg btn-fixed" id="btn-cashier">
        <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-qrcode fa-stack-1x"></i>
        </span>
    </a>


    <!-- end #content -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="../../plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="../../plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="../../plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="../../plugins/moment/moment.min.js"></script>
<script src="../../lib/alasql.js"></script>
<script src="../../lib/purl.js"></script>
<script src="../../js/db.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../../plugins/DataTables/js/jquery.dataTables.js"></script>
<script src="../../plugins/powerange/powerange.min.js"></script>
<script src="../../plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>
<script src="../../plugins/gritter/js/jquery.gritter.js"></script>
<script src="../../js/apps.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    var id = parseInt($.url().param('id'));

    $(document).ready(function() {
        App.init();
        sliderInit();
        $('.data-table').dataTable({
            "paging":false,
            "info":false
        });
        handleScheduleCalendar();

    });


    var storeName = alasql('COLUMN OF SELECT name FROM retail WHERE id = ?',[id])[0];
    $('#store-name').text(storeName);

    function sliderInit (){
        var elem = document.querySelector('#month-slider');
        var init = new Powerange(elem, {
            callback: function(){
                    var days = elem.value;
                    $('#slider-value').text(days);
                    highlightExpiring(days);
            },
            start: 90,
            max:300,
            hideRange: true
        });
    }

    var Timer;
    var DAY;
    function highlightExpiring (days){
        clearTimeout(Timer);
        Timer = setTimeout(function(){
            if(days!==DAY){
                DAY=days;
                var exProducts = DB.getExpiringProducts(days,id);
                var table = $('#tbl-expiring');
                var length = exProducts.length;
                table.empty();
                for(var i = 0; i<length; i++){
                    var product = exProducts[i];
                    var row = $('<tr></tr>');
                    row.append('<td>'+(i+1)+'</td>');
                    row.append('<td>'+ product.item +'</td>');
                    row.append('<td>'+ product.qty +'</td>');
                    row.append('<td>'+ product.expiration +'</td>');
                    table.append(row);
                }

            }
        },1000);
    }

    var restocks = DB.getAllRestock(id);
    for(var i = 0; i < restocks.length; i++){
        var restock = restocks[i];
        if(i === 0){
            $('#restock-ref').text(restock.ref);
            $('#restock-date').text(restock.expect);
            $('.progtrckr-todo').each(function(index){
                if(index<=restock.status){
                    $(this).addClass('progtrckr-done').removeClass('progtrckr-todo');
                }
            });
        }
        var row = $('<tr></tr>');
        row.append('<td>'+ restock.code +'</td>');
        row.append('<td>'+ restock.item +'</td>');
        row.append('<td>'+ restock.qty +'</td>');
        $('#tbl-restocking').append(row);
    }


    var products = DB.getReturnProducts(id);
    var tbody = $('#tbl-products');
    for (var i = 0; i < products.length; i++) {
        var product = products[i];
        var tr = $('<tr id='+product.id+'></tr>');
        tr.append('<td><a data-href="product.html?id=' + product.id + '&retail='+id+'">' + product.code + '</a></td>');
        tr.append('<td>' + product.name + ' ('+product.size+' '+product.unit+')</td>');
        tr.append('<td>' + product.kind + '</td>');
        tr.append('<td>' + product.price + '</td>');
        tr.append('<td>' + (product.balance - product.returnable) + '</td>');

        tr.appendTo(tbody);

        var row = $('<tr id='+product.id+'></tr>');

        if(product.returnable !== 0){
            row.append('<td>' + product.name + ' ('+product.size+' '+product.unit+')</td>');
            row.append('<td>' + product.returnable + '</td>');
            row.append('<td>' + product.expire + '</td>');
            $('#tbl-returnable').append(row);
        }

    }

    tbody.find('a').on('click', function() {
        window.open($(this).attr('data-href'));
    });
    $('#btn-cashier').on('click',function(){
        window.open('cash-register.html?id='+id);
    });

    function received (){
        DB.receiveRestock(id);
        location.reload();
    }


    function returnProduct(){
        var items = [];
        $('#tbl-returnable').find('tr').each(function(){
            var row = $(this);
            items.push({
                id : row.attr('id'),
                qty : row.find('td:eq(1)').text(),
                expire : row.find('td:eq(2)').text()
            });
        });
        DB.returnProduct(items);
    }

    function showRequestModal(){
        fillModal();
        $('#requestModal').modal('show');
    }
    function fillModal(){
        for(var i = 0; i<products.length; i++){
            var product = products[i];
            var row = $('<tr id="'+product.id+'"></tr>');
            row.append('<td class="item-name">'+product.name+'</td>');
            row.append('<td><input type="number" min="0" value="0"/></td>');
            $('#tbl-request').append(row);
        }
    }

    function sendRequest(){
        var requests = [];
        $('#tbl-request').find('tr').each(function(){
            var row = $(this);
            var qty = row.find('input').val();
            if(qty>0){
                var item = row.find('.item-name').text();
                var stock = row.attr('id');
                requests.push({stock:stock, item:item, qty:qty});
           }

        });
        var msg = $('#message').val();
        DB.newRequest(requests,msg,id);
    }
    function handleScheduleCalendar(){
        var today=new Date,d = today.getDate(),m=today.getMonth()+1,y=today.getFullYear();
        var s = DB.getRestockDates(10);
        s.push([d+"/"+m+"/"+y,"Today","#","#b6c832",""]);
        var o=$("#schedule-calendar");
        $(o).calendar({events:s,tooltip_options:{placement:"top",html:true}});
        $(o).find("td.event").each(
                function(){var e=$(this).css("background-color");
                    $(this).removeAttr("style");
                    $(this).find("a").css("background-color",e)
                });
        $(o).find(".icon-arrow-left, .icon-arrow-right").parent().on("click",function(){$(o).find("td.event").each(function(){var e=$(this).css("background-color");$(this).removeAttr("style");$(this).find("a").css("background-color",e)})})
    }


    var feedback = alasql('SELECT * FROM request WHERE status = "Rejected" AND retail = ?',[id]);
    for(var i = 0; i<feedback.length; i++){
        var id = feedback[i].id;
        $.gritter.add({
            title:"Your restocking request has been rejected!",
            text:"Feedback from central warehouse:<br>"+feedback[i].msg,
            sticky:true,
            time:"",
            class_name:"my-sticky-class",
            after_close:function(){
                alasql('UPDATE request SET status = "READ" WHERE id = ?',[id]);
            }
        });
    }
    var COLLAPSED = false;
    function toggleArrow(ele) {
        if(COLLAPSED){
            $(ele).find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
            COLLAPSED = false;
        }else{
            $(ele).find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
            COLLAPSED = true;
        }
    }

</script>
</body>
</html>
